.formBackground {
  background: #5085A5;
  min-height: 380px;
  overflow: hidden;


}

.formContainer {
  width: 800px;
  text-align: center;
  & h2 {
    padding-top: 45px;
    padding-bottom: 20px;
    color: #f7f9fb;

  }

  & p {
    text-align: center;
    //padding-left: 25px;
    color: #f7f9fb;
  }


  & label {
    margin-right: 5px;
    color: #f7f9fb;
    font-size: 15px;
    text-transform: uppercase;
  }

  & select {
    margin-left: 5px;
    padding: 1px;
    background-color: #f7f9fb;
    border: 2px solid #5085A5;
    border-radius: 5px;
    outline: none;
    color: black;

  }


  & input {
    padding: 6px 10px 4px;
    background-color: #f7f9fb;
    border: 1px solid #5085A5;
    text-transform: uppercase;
    border-radius: 5px;
    outline: none;
    transition: 0.4s all;

    &:hover {
      background-color: #5085A5;
      color: #f7f9fb;
      border: 1px solid #f7f9fb;
    }
  }

}


.formSummary {
  height: 160px;
  overflow: hidden;

  & p {
    font-size: 20px;

  }
}

.hide {
  display: none;
}

.riverBackground {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),url("./river-2808802_1280 (1).jpg");
  background-size: cover;
  background-position: center;
}

.riverDescritpion {
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
& article{
  flex-grow: 0;
  flex-basis: 500px;
  border: 1px solid #5085A5;
  box-shadow: 0 1px 0 1px rgba(80, 133, 165, 0.5);
  padding: 10px;
  margin-bottom: 30px;
}
  & h3 {
    font-size: 22px;
    color: #31708e;
  }

  & p {
    color: #000000;
  }
}


@media (max-width: 1300px){
  .formContainer label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;

  }

  .formContainer input {
    margin-top: 20px;
  }
}