.formBackground {
  background: #5085A5;
  height: calc(100vh - 360px);
  min-height: 420px;
  max-height: 500px;
  overflow: hidden;


}

.formContainer {
  width: 800px;
  text-align: center;

  & h2 {
    padding-top: 25px;
    padding-bottom: 15px;
    color: #f7f9fb;

  }

  & p {
    text-align: center;
    //padding-left: 25px;
    color: #f7f9fb;
  }


  & label {
    margin-right: 5px;
    color: #f7f9fb;
    font-size: 15px;
    text-transform: uppercase;


  }

  & select {
    margin-left: 5px;
    padding: 1px;
    background-color: #f7f9fb;
    border: 2px solid #5085A5;
    border-radius: 5px;
    outline: none;
    color: black;
    width: 200px;
    max-height: 50px;
    overflow: scroll;

  }



  & input {
    padding: 6px 10px 4px;
    background-color: #f7f9fb;
    border: 1px solid #5085A5;
    text-transform: uppercase;
    border-radius: 5px;
    outline: none;
    transition: 0.4s all;

    &:hover {
      background-color: #5085A5;
      color: #f7f9fb;
      border: 1px solid #f7f9fb;
    }
  }

}


.formSummary {
  height: 160px;
  overflow: hidden;

  & p {
    font-size: 20px;

  }
}

.hide {
  display: none;
}

.riverBackground {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("./river-2808802_1280 (1).jpg");
  background-size: cover;
  background-position: center;
  min-height: calc(100vh + 20px);
  overflow: hidden;
  display: flex;


}

.riverDescritpion {

  padding-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;

  & article {
    flex-grow: 0;
    flex-basis: 500px;
    border: 1px solid #5085A5;
    box-shadow: 0 1px 0 1px rgba(80, 133, 165, 0.5);
    padding: 10px;
    margin-bottom: 30px;
  }

  & h3 {
    font-size: 22px;
    color: #31708e;
  }

  & p {
    color: #000000;
  }
}

@media (max-width: 1500px) {
  .formBackground {
    height: calc(100vh - 310px);

  }

  .riverDescritpion {
    padding-bottom: 50px;
  }
}

@media (max-width: 1300px) {
  .formContainer label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;


  }
  .formContainer label:nth-child(1) {
    margin-right: -3px;

  }

  .formContainer input {
    margin-top: 20px;
  }
}

@media (max-width: 420px) {
  .formContainer {
    width: 350px;

    & h2 {
      padding-top: 20px;
      font-size: 20px;
    }

    & label {
      font-size: 12px;

    }

    & input {
      font-size: 16px;
      margin-bottom: 10px;
    }

    & p {
      font-size: 16px;
    }
  }


}


@media (max-width: 380px) {
  .formBackground {
    height: calc(100vh - 220px);
  }
}

@media (max-width: 325px) {
  .formContainer {
    width: 300px;

    & h2 {
      font-size: 16px;

    }

    & label {
      font-size: 10px;

    }

    & input {
      font-size: 14px;
    }

    & p {
      font-size: 14px;
    }
  }

}