
* {
  max-width: 1600px;
  box-sizing: border-box;
  //overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1500px) {
  .container {
    max-width: 900px;

  }
}

@media (max-width: 1250px) {
  .container {
    max-width: 700px;

  }
}

@media (max-width: 1050px) {
  .container {
    max-width: 500px;
    overflow: hidden;
  }
}
