.masovianMap{
  $c1: rgba(#000, 0.45);
  height: 100vh;
  background-image: linear-gradient($c1, $c1),url("../../../Components/Images Wkra/river-977476_1920.jpg");
  background-size: cover;
  overflow: hidden;
  background-position:top -75% ;
}

//Obraz <a href="https://pixabay.com/pl/users/LubosHouska-198496/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=977476"> Lubos Houska</a> z <a href="https://pixabay.com/pl/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=977476"> Pixabay</a>


