.masovianMap{
  $c1: rgba(#000, 0.5);
  height: 100vh;
  background-image: linear-gradient($c1, $c1),url("autumn-972708_1920.jpg");
  background-size: cover;
  background-position: left center;
}

.aaa {
  font-size: 40px;
}
//Obraz <a href="https://pixabay.com/pl/users/LubosHouska-198496/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=972708"> Lubos Houska</a> z <a href="https://pixabay.com/pl/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=972708"> Pixabay</a>