.mazowszeMapStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.mazowszeMapStyle svg{
  transform: scale(0.45);
  flex-grow:1;


}

.riverStyle {
  stroke: #31708e;

  &:hover {
    stroke: #8fc1e3;
    stroke-width: 0.8;
    cursor: pointer;
  }
}