.mazowszeMapStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}
.mazowszeMapStyle svg{
  transform: scale(1.7);
  flex-grow:1;
  path{fill-opacity: 0.6;}

}

.riverStyle {
  stroke: #31708e;

  &:hover {
    stroke: #8fc1e3;
    stroke-width: 1px;
    cursor: pointer;
  }
}