.mainMap {
  $c1: rgba(#000, 0.45);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient($c1, $c1), url("../../Components/Images Wkra/autumn-972708_1920.jpg");
  //Obraz <a href="https://pixabay.com/pl/users/LubosHouska-198496/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=972708"> Lubos Houska</a> z <a href="https://pixabay.com/pl/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=972708"> Pixabay</a>
  background-size: cover;
  background-position: center;
}



.mainMap svg {
  transform: scale(1.3);

}


.mainMap path {
  fill: #f7f9fb;
  fill-opacity: 0.6;
  transition: 0.3s fill;


  &:hover {
    fill: #31708E;
    fill-opacity: 1;
    cursor: pointer;

  }


}

@media (max-width: 1025px){
  .mainMap  {
    background-position:  center;
    }
  & svg {
    width:540px;
    height: 480px;

  }
  & path {
    transform: scale(1);
  }
}
@media (max-width: 824px){
  .mainMap & svg {
    margin-top: 20px;
    height: 500px;
    transform: scale(0.7);
  }
}
@media (max-width: 770px){
  .mainMap & svg {
    margin-top: 40px;
    transform: scale(0.8);
  }
}
@media (max-width: 668px){
  .mainMap  & svg {
    margin: 60px auto 0 auto;
  }
  & path {

    transform: scale(0.9);
  }
}
@media (max-width: 640px){
  .mainMap svg {
    transform: scale(0.6);
  }
}
@media (max-width: 420px){
  .mainMap {

    background-position: center bottom;
  }
  & svg {
  width:500px;
    height: 400px;
  }
  & path {
    transform: scale(0.75);
  }
}
@media (max-width: 360px){
  .mainMap {

    background-position: center bottom;
  }
  & svg {
  width:420px;
    height: 360px;
  }
  & path {
    transform: scale(0.7);
  }
}
@media (max-width: 320px){
  .mainMap & svg {
    margin-top: 100px;
  }
  & path {
    transform: scale(0.6);
  }
}