.mainMap {
  $c1: rgba(#000, 0.45);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient($c1, $c1), url("clouds-daylight-environment-786134.jpg");

  //Photo by Adriaan Greyling from Pexels
  background-size: cover;

}

.mainMap svg {
  transform: scale(1.3);

}

.mainMap path {
  //fill: #94add6;
  //fill: #0C755B;
  fill: #687864;
  fill-opacity: 1;
  transition: 0.3s fill;

  &:hover {
    //fill: #1E747C;
    fill: #31708E;
    cursor: pointer;
  }
}

